@model MvcEntityTicariOtomasyonu.Models.Tablolar.Departman
@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-top:30px;">

    @using (Html.BeginForm("DepartmanEkle", "Departman", FormMethod.Post))
    {
        @Html.LabelFor(x => x.DepartmanAd)
        @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form form-control" })

        @Html.LabelFor(x => x.Durum)
        @Html.TextBoxFor(x => x.Durum, new { @class = "form form-control" })

        <button class="btn btn-primary" style="margin-top:15px;">EKLE</button>
    }

</div>

