
@{
    ViewBag.Title = "GrafikIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="width:1600px;height:1600px;">
    <img src="@Url.Action("GrafikIndex","Grafik")" />@*Linkini bağladık.*@
</div>

